<mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-toolbar color="primary">Mit Malgré Tout</mat-toolbar>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
  </mat-form-field>

  <hr>
  <button mat-raised-button
  color="primary"
  (click)="onAddPictureFile()"
  >Vælg en billedefil</button>

  <button mat-raised-button
  color="primary"
  (click)="onAddVideoFile()"
  >Vælg en videofil</button>

  <button mat-raised-button
  color="primary"
  (click)="onAddSoundFile()"
  >Vælg en lydfil</button>
</mat-card>
