<mat-nav-list>
  <a mat-list-item routerLink="" (click)="onClose()">
    <span class="nav-caption">Velkommen</span>
  </a>
  <a *ngIf="userIsAuthenticated" mat-list-item routerLink="/profiles" (click)="onClose()">
    <span class="nav-caption">Profile</span>
  </a>
  <a *ngIf="!userIsAuthenticated" mat-list-item routerLink="/signup" (click)="onClose()">
    <span class="nav-caption">Opret Bruger</span>
  </a>
  <a *ngIf="!userIsAuthenticated" mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>login</mat-icon>
    <span class="nav-caption">Log Ind</span>
  </a>
  <a mat-list-item routerLink="/galleri/public" (click)="onClose()">
    <mat-icon>collections</mat-icon>
    <span class="nav-caption">Galleri</span>
  </a>
  <a *ngIf="userIsAuthenticated" mat-list-item (click)="onLogout()" (click)="onClose()">
    <mat-icon>logout</mat-icon>
    <span class="nav-caption">Log ud</span>
  </a>
</mat-nav-list>
