<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main >
      <router-outlet ></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-profile-media></app-profile-media>
<main>
  <app-profile-create></app-profile-create>
  <app-profile-info (mediaCreated)="onMediaAdded()"></app-profile-info>
  <app-profile-media (media)="onMediaAdded()"></app-profile-media>
</main>
