

.frontImage {

  object-fit: cover;
  border-radius: 10px !important;
  overflow: hidden;
  width: 100%;

}

.tripple{

  position: relative;
  object-fit: scale-down;
  border-radius: 8px !important;
  overflow: hidden;
  height: 20%;
  }


.infoText{
  margin-right: 1rem;
}
