<mat-card>
  <form (submit)="onAddProfileInfo(profileInfoForm)" #profileInfoForm= "ngForm">
    <input matInput
    type="text"
    name="profileInfo"
    ngModel
    #profileInfo="ngModel">
    <mat-error *ngIf="profileInfo.invalid">Indtast venligst dine informationer</mat-error>

    <input matInput
    type=""
    name="picture"
    placeholder="picture">

    <input matInput
    type="text"
    name="firstName"
    ngModel
    #firstName
    placeholder="firstName">
    <mat-error *ngIf="firstName.invalid">Indtast venligst dit fornavn</mat-error>

    <input matInput
    type="text"
    name="lastName"
    ngModel
    #lastName
    placeholder="lastName">
    <mat-error *ngIf="lastName.invalid">Indtast venligst dit efternavn</mat-error>

    <input matInput
    type="text"
    name="dateOfBirth"
    placeholder="dateOfBirth">

    <input matInput
    type="text"
    name="email"
    ngModel
    #email
    placeholder="email">
    <mat-error *ngIf="email.invalid">Indtast venligst din email</mat-error>

    <input matInput
    type="text"
    name="phoneNumber"
    placeholder="phoneNumber">

    <input matInput
    type="text"
    name="interests"
    placeholder="interests">

    <input matInput
    type="text"
    name="myEvents"
    placeholder="myEvents">

    <input matInput
    type="text"
    name="myMedia"
    placeholder="myMedia">
    <mat-form-field>

  </mat-form-field>
  <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Vælg billede</button>
    <input type="file" #filePicker>

  </div>
  </form>
</mat-card>
