:host{
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

input [type="file"]{
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem;
}

.image-preview img{
  height: 100%;
}
