<section fxLayoutAlign="center center">
  <mat-card>
    <mat-list>
    <mat-card-title fxLayoutAlign="center center">Mine info</mat-card-title>
    <mat-form-field>
      <mat-error *ngIf=""></mat-error>
    </mat-form-field>
    <mat-list-item>
        Navn
      </mat-list-item>
      <mat-list-item>
        Email
      </mat-list-item>
      <mat-list-item>
        Mobil
      </mat-list-item>
      <mat-list-item>
        Interesser
      </mat-list-item>
      <mat-list-item>
        Mine events
      </mat-list-item>
      <input matCardContent>
      <button mat-raised-button color="primary">Tilbage</button>
      <button mat-raised-button color="primary">Redigér</button>
      <button mat-raised-button color="primary">Slet</button>
    </mat-list>
  </mat-card>
</section>

